#wpml_als_help_link{display:none !important; }
#icl_how_to_translate_link{ display:none !important; }

.acf-column-2{}
.toplevel_page_wpcf7 #informationdiv,
#loco-credit,
.wpseo-metabox-buy-premium,
.yoast_premium_upsell_admin_block,
.yoast-sidebar__title,
.yoast-sidebar__spot { display: none !important; }

.wpml-dialog .wpml-dialog-content,
.wp-dialog.wpml-dialog .ui-dialog-titlebar { padding: .4em 0 !important; }


.wpseo-tab-video__panel.wpseo-tab-video__panel--text,
#tab-link-dashboard_dashboard__contact-support,
#tab-link-dashboard_general__contact-support,
#tab-link-dashboard_features__contact-support,
#tab-link-dashboard_knowledge-graph__contact-support,
#tab-link-dashboard_webmaster-tools__contact-support,
#tab-link-dashboard_security__contact-support,
#tab-link-metabox_metabox__contact-support,
li#react-tabs-4,
.iimhyI{display:none;}
.yoast-help-center__button{display:none !important;}

.nq3d-header-preprod-message{ background: #ffd14f; padding: 10px 0; font-size: 15px; line-height: 22px; text-align: center; position: fixed; left: 0; bottom: 0; right: 0; z-index: 9999; }
