
/*
 * [ Partials > Global ]
 */

// -----------------------------------------------------------------------------

.nq-notice-pending{ padding:20px; text-align:left; display:block; margin:0 auto 20px auto; background:#FFF; color:#111; box-shadow:0 1px 1px 0 rgba(0,0,0,.1); border-left:5px solid #ffba00; }


// -----------------------------------------------------------------------------

// Site page
.site-page {
  overflow: hidden;
  transition: all 0.25s ease-out;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}


// Site content
.site-content {
  padding: 0 0 70px 0;

  @supports (display: flex) {
    flex: 1;
  }
}


// Page header
.page-header {
  padding: 0 0 40px 0;
}


// Page action
.page-action {
  margin: 50px 0 0 0;
  text-align: center;
}


// Menu is open
body.menu-is-open {
  overflow: hidden;
}

body.menu-is-open .site-page {
  margin-left: 10%;
  margin-right: -10%;
}

body.menu-is-open .header-nav,
body.menu-is-open .header-infos-contact {
  transform: translateX(0);
}
